NODE_ENV=development

COMPOSE_FILE=docker-compose.yml:docker-compose.dev.yml

POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345
POSTGRES_DB=ci

DATABASE_URL=postgres://postgres:12345@localhost:5432/ci
REPORTS_URL=postgres://postgres:12345@localhost:5432/reports
