NODE_ENV=development

COMPOSE_FILE=docker-compose.yml:docker-compose.dev.yml

POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345
POSTGRES_DB=catalog

CATALOG_URL=postgres://postgres:12345@localhost:5432/catalog
REPORTS_URL=postgres://postgres:12345@localhost:5432/reports
USERS_URL=postgres://postgres:12345@localhost:5432/users

SECRET_KEY=dev-secret-1234567890