#1
# Зависимости
node_modules/

# Артефакты сборки React-админки
admin-build/
dist/
dist-ssr/

# Данные базы данных (pgdata)
pgdata/
back/Postgre/pgdata/

# Логи
*.log
logs/

# Окружение (секреты!)
.env
.env.prod
.env.local

# IDE
.idea/
.vscode/
.DS_Store

# Если не хочешь хранить сертификаты в репозитории (опционально)
# nginx/certs/
