#1
shop/images/
backups/
storage/
# Зависимости
node_modules/

# Артефакты сборки React-админки
admin-build/
dist/
dist-ssr/

# Данные базы данных (pgdata)
pgdata/
back/Postgre/pgdata/

# Логи
*.log
logs/

# Окружение
.env
.env.prod


# IDE
.idea/
.vscode/
.DS_Store

# nginx
nginx/certs/
.htpasswd
