#1
shop/images/
backups/
storage/
# Зависимости
node_modules/

# Артефакты сборки React-админки
admin-build/
dist/
dist-ssr/

# Данные базы данных (pgdata)
pgdata/
back/Postgre/pgdata/

# Логи
*.log
logs/

# Окружение
.env
.env.bak


# IDE
.idea/
.vscode/
.DS_Store

# nginx
nginx/certs/
.htpasswd

#act
act
bin/act

#monitoring
monitoring/data/alloy/*
monitoring/data/grafana/*
monitoring/data/loki/*

.env.monitoring
